{{ define "hero" }}

<div class="col-12 main-hero sections second-hero bg-dark">
  <div class="column col-xs-12 col-8 col-mx-auto">
    <h1>Find the most pressing environmental issues</h1>
    <p>
      We need awareness to save the environment. Get environmental news
      delivered to your inbox. Subscribe to the newsletter below.
    </p>
    <form
      class="column col-8 col-xs-12 col-mx-auto form-group"
      target="_blank"
      action="{{.}}"
      method="POST"
      name="subscribeform"
    >
      <input
        type="hidden"
        name="formtoken"
        value="b4f6b82438b2d8d8ce5fd38b52cf174b"
      />
      <div class="input-group subscribe-input-group">
        <input
          type="text"
          class="form-input input-lg"
          placeholder="Your email"
          name="email"
          id="email"
        />
        <input type="hidden" name="htmlemail" value="1" />
        <input type="hidden" name="list[2]" value="signup" /><input
          type="hidden"
          name="listname[2]"
          value="newsletter"
        />
        <button
          type="submit"
          name="subscribe"
          class="btn btn-tertiary btn-lg input-group-btn"
        >
          SUBSCRIBE
        </button>
      </div>
      <span class="caption"
        >Don't worry! We won't clutter your inbox. We send approx one email/per
        week. By subscribing, you agree to receive marketing emails from
        Envonow.</span
      >
    </form>
  </div>
</div>
{{ end }}
