{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Receive news on environmental issues in your inbox from credible sources. Also, find environmental events to attend."
    />
    <link rel="stylesheet" href="/static/scss/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <title>Envonow - Get environmental news delivered to your inbox</title>
    <!-- Matomo -->
    <script>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "//analytics.envonow.com/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "1"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body>
    <div id="layout" class="container">
      <div class="columns">
        {{ template "content" . }} {{ template "footer" }}
      </div>
    </div>
  </body>
</html>

{{ end }}
